@import "tailwindcss";

:root {
  /* MAIN BRAND COLORS */
  --brand-primary: #cbc3b8;
  --brand-secondary: #111315;

  --brand-tetiary: #585a5b;

  /* BACKGROUND COLOR */
  --background-primary: #ffffff;
  --background-secondary: #fafafa;

  /* MAIN BUTTON COLORS */
  --button-primary: #b08d57;
  --button-secondary: #8a6e45;

  /* MAIN ACCENT COLORS */
  --accent-primary: #b08d57;

  /* ERROR COLOR */
  --error-primary: #b74134;

  /* BET COLORS */
  --rust: #b22234;
  --emerald: #3fa796;
  --purple: #9966cc;

  /* BET CARD */
  --bet-card: #e6e6e6;

  /* TRANSACTION COLOR */
  --deposit: #006400;
  --withdrawal: #b22234;
  --pending: #ffd700;
}

@theme inline {
  --color-background: var(--background);
  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-brand-primary: var(--brand-primary);
  --color-brand-tetiary: var(--brand-tetiary);
  --color-error-primary: var(--error-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-accent-primary: var(--accent-primary);

  --color-rust: var(--rust);
  --color-emerald: var(--emerald);
  --color-purple: var(--purple);

  --color-deposit: var(--deposit);
  --color-withdrawal: var(--withdrawal);
  --color-pending: var(--pending);

  --color-bet-card: var(--bet-card);

  --font-sans: var(--font-fredoka), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom keyframes */
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.bg-update-profile {
  background: #b08d57;
  background: linear-gradient(
    343deg,
    rgba(176, 141, 87, 1) 0%,
    rgba(17, 19, 21, 1) 100%
  );
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
